<%= form_with(model: @user, url: user_profile_path(@user)) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being modified:</h2>

      <ul>
        <% @user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="space-y-8 divide-y divide-gray-200">
    <div class="pt-0">
      <div>
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          User Information
        </h3>
        <p class="mt-1 text-sm text-gray-500">
          Provide more information to build out your profile
        </p>
      </div>

      <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-3">
        <div class="sm:col-span-3">
          <label for="avatar" class="block text-sm font-medium text-gray-700">
            Avatar
          </label>
          <div class="mt-1 p-4">
            <%= avatar(@user, size: 100) %>
          </div>

          <% if current_user == @user || current_user.admin? %>
          <div class="mt-1">
            <%= form.file_field :avatar %>
          </div>
          <% end %>
        </div>
      </div>

      <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-3">
        <div class="sm:col-span-3">
          <label for="email" class="block text-sm font-medium text-gray-700">
            Email
          </label>
          <% if current_user == @user || current_user.admin? %>
          <div class="mt-1">
            <%= form.text_field :email, class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" %>
          </div>
          <% else %>
          <div class="mt-1">
            <%= @user.email %>
          </div>
          <% end %>
        </div>
      </div>

      <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-3">
        <div class="sm:col-span-3">
          <label for="first_name" class="block text-sm font-medium text-gray-700">
            First Name
          </label>
          <% if current_user == @user %>
          <div class="mt-1">
            <%= form.text_field :first_name, class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" %>
          </div>
          <% else %>
          <div class="mt-1">
            <%= @user.first_name || "not yet set" %>
          </div>
          <% end %>
        </div>

        <div class="sm:col-span-3">
          <label for="street_address" class="block text-sm font-medium text-gray-700">
            Last Name
          </label>
          <% if current_user == @user %>
          <div class="mt-1">
            <%= form.text_field :last_name, class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" %>
          </div>
          <% else %>
            <%= @user.last_name || "not yet set" %>
          <% end %>
        </div>
      </div>
      <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-3">
        <div class="sm:col-span-3">
          <label for="first_name" class="block text-sm font-medium text-gray-700">
            Team
          </label>
          <% if current_user.admin? %>
          <div class="mt-1">
            <%= select("user", "team_id", current_user.business.teams.all.collect {|t| [ t.name, t.id ] }, { include_blank: true }) %>
          </div>
          <% else %>
          <div class="mt-1">
            <%= @user.team.name %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="pt-5">
    <div class="flex justify-end">
      <a href="<%= user_profile_path(@user) %>" class="button bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        Cancel
      </a>
      <button type="submit" class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-teal-600 hover:bg-cyan-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cyan-500">
        Save
      </button>
    </div>
  </div>
<% end %>
