<li class="py-4">
  <div class="flex space-x-3">
    <div class="h-10 w-10">
      <%= avatar(activity.user, size: 100) %>
    </div>
    <div class="flex-1 space-y-1">
      <div class="flex-1 items-center justify-between">
        <h3 class="flex-1 text-sm"><%= activity.user.display_name %></h3>
        <p class="text-sm text-gray-500"><%= time_ago_in_words(activity.created_at, include_seconds: true) %> ago</p>
      </div>
      <!-- display information based on type of resource -->
      <h3 class="text-sm font-medium"><%= activity_title(activity) %></h3>
      <p class="text-sm text-gray-500"><%= activity_content(activity) %></p>
    </div>
  </div>
</li>

