<!-- Start left column area -->
<div class="h-full relative" style="min-height: 12rem;">
  <div class="absolute inset-0 text-gray-700">

    <!-- avatar -->
    <div class="relative lg:flex">
      <div class="py-1">
        <button class="bg-indigo-700 flex text-sm rounded-full text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-indigo-700 focus:ring-white" id="user-menu" aria-haspopup="true">
          <span class="sr-only">Profile</span>
          <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixqx=1HVGark79X&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
        </button>
      </div>
      <div class="relative px-3 w-full">
        <ul>
          <li class="text-gray-800">
            <%= link_to current_user.display_name, user_profile_path(current_user) %>
          </li>
          <li class="text-gray-400">
            Joined <%= l current_user.created_at, format: :sample %>
          </li>
          <li>
            &nbsp;
          </li>
          <li class="text-gray-800">
            Team: <%= link_to current_user.team.name, team_path(current_user.team) %>
          </li>
          <li class="text-gray-400">
            <%= pluralize(current_user.team.schemas.size, "Schema") %>
          </li>
          <li class="text-gray-400">
            <%= pluralize(current_user.team.services.count, "Service") %>
          </li>
          <li class="text-gray-400">
            <%= pluralize(current_user.team.users.count, "Teammate") %>
          </li>
        </ul>
      </div>
    </div>

    <div class="relative px-3 mt-6 w-full">
      <ul>
        <li class="py-2">
          <div class="mt-3 sm:mt-0 sm:ml-3">
            <a href="<%= new_schema_path %>">
              <button type="submit" class="block w-full py-3 px-4 rounded-md shadow bg-gradient-to-r from-teal-500 to-cyan-600 text-white font-medium hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cyan-400 focus:ring-offset-gray-900 transition-colors duration-200">Publish Schema</button>
            </a>
          </div>
        </li>
        <li class="py-2">
          <div class="mt-3 sm:mt-0 sm:ml-3">
            <a href="<%= new_service_path %>">
              <button type="submit" class="block w-full py-3 px-4 rounded-md shadow bg-gradient-to-r from-teal-500 to-cyan-600 text-white font-medium hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cyan-400 focus:ring-offset-gray-900 transition-colors duration-200">Define Service</button>
            </a>
          </div>
        </li>
        <li class="py-2">
          <div class="mt-3 sm:mt-0 sm:ml-3">
            <a href="<%= new_user_invitation_path %>">
              <button type="submit" class="block w-full py-3 px-4 rounded-md shadow bg-gradient-to-r from-teal-500 to-cyan-600 text-white font-medium hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cyan-400 focus:ring-offset-gray-900 transition-colors duration-200">Invite Teammates</button>
            </a>
          </div>
        </li>
      </ul>
    </div>

    <div class="absolute inset-x-0 bottom-0 h-16 w-full">
      <div class="relative w-full">
        <ul>
          <li class="py-2">
            <a href="<%= business_path(current_user.business) %>" class="btn text-base font-medium text-gray-300 hover:text-gray-300">
              Account Settings
            </a>
          </li>

          <li class="py-1">
            <a href="<%= destroy_user_session_path %>" rel="nofollow" data-method="delete" class="btn text-base font-medium text-gray-300 hover:text-gray-300">
              Log out
            </a>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>
<!-- End left column area -->

