<%= turbo_frame_tag "dashboard_schemas" do %>
  <div class="px-4 sm:px-6 lg:px-8">
    <div class="sm:flex sm:items-center">
      <div class="sm:flex-auto">
        <!--<h1 class="text-base font-semibold leading-6 text-gray-900">Schemas</h1>-->
        <h2 class="text-2xl font-bold leading-10 tracking-tight text-gray-900">Schemas</h2>
        <p class="mt-2 text-sm text-gray-700">You're encouraged, upon viewing a schema, to identify yourself as a stakeholder if you want to be notified of changes.</p>
      </div>
      <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
      </div>
    </div>
    <div class="mt-8 flow-root">
      <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
          <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg">
            <table class="min-w-full divide-y divide-gray-300">
              <thead class="bg-gray-50">
                <tr>
                  <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6"></th>
                  <%= sortable_table_header 'Name', :name, :dashboards_path, class: 'py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6' %>
                  <%= sortable_table_header 'Service', :service_id, :dashboards_path, class: 'py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6' %>
                  <%= sortable_table_header 'Updated', :updated_at, :dashboards_path, class: 'py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6' %>
                  <th scope="col" class="px-3 py-3.5 pr-8 text-center text-sm font-semibold text-gray-900">Stakeholders</th>
                </tr>
              </thead>
              <tbody class="divide-y divide-gray-200 bg-white">
                <% @sorted_schemas.each do |schema| %>
                  <tr>
                    <td class="whitespace-nowrap py-4 pl-4 text-sm font-medium text-gray-900 sm:pl-6">
                      <%= render partial: 'favorite', locals: {schema: schema} %>
                    </td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                      <a href="/schemas/<%= schema.public_id %>"><%= schema.name %><a/>
                    </td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= schema.service&.name %></td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><time datetime="2020-01-07"><%= I18n.l(schema.updated_at, format: :long) %></time></td>
                    <td class="relative whitespace-nowrap py-4 pr-8 text-center text-sm font-medium">
                      <div class="relative mt-4 flex-shrink-0 sm:mt-0">
                        <div class="overflow-hidden">
                          <%= stakeholders(schema.stakeholders) %>
                        </div>
                      </div>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <nav class="flex items-center justify-between mt-2 px-4 sm:px-0">
      <div class="-mt-px flex w-0 flex-1">
        <% if @previous_page %>
          <a href="/dashboards?page=<%= @previous_page %>" class="inline-flex items-center border-t-2 border-transparent pr-1 pt-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">
            <svg class="mr-3 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M18 10a.75.75 0 01-.75.75H4.66l2.1 1.95a.75.75 0 11-1.02 1.1l-3.5-3.25a.75.75 0 010-1.1l3.5-3.25a.75.75 0 111.02 1.1l-2.1 1.95h12.59A.75.75 0 0118 10z" clip-rule="evenodd" />
            </svg>
            Previous
          </a>
        <% else %>
          <span class="inline-flex items-center border-t-2 border-transparent pr-1 pt-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">
            <svg class="mr-3 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M18 10a.75.75 0 01-.75.75H4.66l2.1 1.95a.75.75 0 11-1.02 1.1l-3.5-3.25a.75.75 0 010-1.1l3.5-3.25a.75.75 0 111.02 1.1l-2.1 1.95h12.59A.75.75 0 0118 10z" clip-rule="evenodd" />
            </svg>
            Previous
          </span>
        <% end %>
      </div>
      <div class="hidden md:-mt-px md:flex">
        <% if @total_pages == 1 %>
          <span class="border-gray-500 text-gray-600", Default: "border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300">1</span>
        <% else %>
          <% if @total_pages < 7 %>
            <% 1.upto(@total_pages) do |i| %>
              <% if i == @current_page %>
                <span class="inline-flex items-center border-t-2 border-transparent px-4 pt-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700"><%= i %></span>
              <% else %>
                <a href="/dashboards?page=<%= i %>" class="inline-flex items-center border-t-2 border-transparent px-4 pt-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700"><%= i %></a>
              <% end %>
            <% end %>
          <% else %>

            <% if @current_page <= 3 %>
              <% 1.upto(3) do |i| %>
                <% if i == @current_page %>
                  <span class="inline-flex items-center border-t-2 border-transparent px-4 pt-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700"><%= i %></span>
                <% else %>
                  <a href="/dashboards?page=<%= i %>" class="inline-flex items-center border-t-2 border-transparent px-4 pt-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700"><%= i %></a>
                <% end %>
              <% end %>
              <span class="inline-flex items-center border-t-2 border-transparent px-4 pt-4 text-sm font-medium text-gray-500">...</span>
              <% (@total_pages - 2).upto(@total_pages) do |i| %>
                <% if i == @current_page %>
                  <span class="inline-flex items-center border-t-2 border-transparent px-4 pt-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700"><%= i %></span>
                <% else %>
                  <a href="/dashboards?page=<%= i %>" class="inline-flex items-center border-t-2 border-transparent px-4 pt-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700"><%= i %></a>
                <% end %>
              <% end %>
            <% else %>
              <% if @current_page + 3 >= @total_pages %>
                <span class="inline-flex items-center border-t-2 border-transparent px-4 pt-4 text-sm font-medium text-gray-500">...</span>
                <% ((@total_pages - 3) - 2).upto(@total_pages - 3) do |i| %>
                  <% if i == @current_page %>
                    <span class="inline-flex items-center border-t-2 border-transparent px-4 pt-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700"><%= i %></span>
                  <% else %>
                    <a href="/dashboards?page=<%= i %>" class="inline-flex items-center border-t-2 border-transparent px-4 pt-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700"><%= i %></a>
                  <% end %>
                <% end %>
                <% (@total_pages - 2).upto(@total_pages) do |i| %>
                  <% if i == @current_page %>
                    <span class="inline-flex items-center border-t-2 border-transparent px-4 pt-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700"><%= i %></span>
                  <% else %>
                    <a href="/dashboards?page=<%= i %>" class="inline-flex items-center border-t-2 border-transparent px-4 pt-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700"><%= i %></a>
                  <% end %>
                <% end %>
              <% else %>
                <% (@current_page - 3).upto(@current_page - 1) do |i| %>
                  <% if i == @current_page %>
                    <span class="inline-flex items-center border-t-2 border-transparent px-4 pt-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700"><%= i %></span>
                  <% else %>
                    <a href="/dashboards?page=<%= i %>" class="inline-flex items-center border-t-2 border-transparent px-4 pt-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700"><%= i %></a>
                  <% end %>
                <% end %>
                <span class="inline-flex items-center border-t-2 border-transparent px-4 pt-4 text-sm font-medium text-gray-500">...</span>
                <% (@total_pages - 2).upto(@total_pages) do |i| %>
                  <% if i == @current_page %>
                    <span class="inline-flex items-center border-t-2 border-transparent px-4 pt-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700"><%= i %></span>
                  <% else %>
                    <a href="/dashboards?page=<%= i %>" class="inline-flex items-center border-t-2 border-transparent px-4 pt-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700"><%= i %></a>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="-mt-px flex w-0 flex-1 justify-end">
        <% if @next_page %>
          <a href="/dashboards?page=<%= @next_page %>" class="inline-flex items-center border-t-2 border-transparent pl-1 pt-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">
            Next
            <svg class="ml-3 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M2 10a.75.75 0 01.75-.75h12.59l-2.1-1.95a.75.75 0 111.02-1.1l3.5 3.25a.75.75 0 010 1.1l-3.5 3.25a.75.75 0 11-1.02-1.1l2.1-1.95H2.75A.75.75 0 012 10z" clip-rule="evenodd" />
            </svg>
          </a>
        <% else %>
          <span class="inline-flex items-center border-t-2 border-transparent pl-1 pt-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">
            Next
            <svg class="ml-3 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M2 10a.75.75 0 01.75-.75h12.59l-2.1-1.95a.75.75 0 111.02-1.1l3.5 3.25a.75.75 0 010 1.1l-3.5 3.25a.75.75 0 11-1.02-1.1l2.1-1.95H2.75A.75.75 0 012 10z" clip-rule="evenodd" />
            </svg>
          </span>
        <% end %>
      </div>
    </nav>
  </div>
<% end %>