<li>
  <div class="px-4 py-4 flex items-center sm:px-6">
    <div class="min-w-0 flex-1 sm:flex sm:items-center sm:justify-between">
      <div>

        <div class="flex text-sm font-medium text-cyan-600 truncate">
          <%= render partial: 'favorite', locals: {schema: schema} %>
          <p>
          <%= schema.name %>
          </p>
          <p class="ml-1 font-normal text-gray-500">
          in <%= schema.service.name %>
          </p>
        </div>
        <div class="mt-2 flex">
          <div class="px-7 flex items-center text-sm text-gray-600">
            <p>
            <%= schema.description %>
            </p>
          </div>
        </div>
        <div class="mt-2 flex">
          <div class="px-7 flex items-center text-sm text-gray-400">
            <p>
            Last Updated on:
            <time datetime="2020-01-07"><%= I18n.l(schema.updated_at, format: :long) %></time>
            </p>
          </div>
        </div>
      </div>
      <div class="flex mt-0 right-0">

        <div class="relative mt-4 flex-shrink-0 sm:mt-0">
          <div class="overflow-hidden">
            <%= stakeholders(schema.stakeholders) %>
          </div>
        </div>
        <div class="relative mt-1 ml-2 flex-shrink-0">
          <a href="/schemas/<%= schema.id %>">
            <!-- Heroicon name: solid/chevron-right -->
            <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
            </svg>
          </a>
        </div>

      </div>
    </div>
  </div>
</li>
