<header class="relative">
  <div class="bg-gray-900 pt-6 py-4">
    <nav class="relative max-w-7xl mx-auto flex items-center justify-between px-4 sm:px-6" aria-label="Global">
      <div class="flex items-center flex-1">
        <div class="flex items-center justify-between w-full md:w-auto">

          <a href="/" data-turbolinks="false">
            <span class="sr-only">Schemabook</span>
            <!-- Heroicon name: book-open -->
            <span class="flex items-center justify-center h-12 w-12 rounded-md">
              <svg class="h-8 w-8 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253" />
              </svg>
            </span>
          </a>

          <div class="-mr-2 flex items-center md:hidden">
            <button type="button" id="main-menu" class="bg-gray-900 rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:bg-gray-800 focus:outline-none focus:ring-2 focus-ring-inset focus:ring-white" aria-haspopup="true">
              <span class="sr-only">Open main menu</span>
              <!-- Heroicon name: outline/menu -->
              <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
              </svg>
            </button>
          </div>

        </div>
        <div class="hidden space-x-8 md:flex md:ml-10">
          <a href="<%= features_path %>" class="text-base font-medium text-white hover:text-gray-300">Features</a>

          <a href="<%= pricing_path %>" class="text-base font-medium text-white hover:text-gray-300">Pricing</a>

          <a href="<%= company_path %>" class="text-base font-medium text-white hover:text-gray-300">Company</a>
        </div>
      </div>

      <div class="hidden md:flex md:items-center md:space-x-6">
        <% if current_user %>
          <a href="<%= dashboards_path %>" rel="nofollow" class="text-base font-medium text-white hover:text-gray-300">
            Dashboard
          </a>
        <% else %>
          <a href="<%= new_user_session_path %>" class="text-base font-medium text-white hover:text-gray-300">
            Sign in
          </a>
        <% end %>
        <a href="<%= new_user_registration_path %>" class="inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md text-white bg-gray-600 hover:bg-gray-700">
           Get started
        </a>
      </div>

    </nav>
  </div>

  <!--
    Mobile menu, show/hide based on menu open state.

    Entering: "duration-150 ease-out"
    From: "opacity-0 scale-95"
    To: "opacity-100 scale-100"
    Leaving: "duration-100 ease-in"
    From: "opacity-100 scale-100"
    To: "opacity-0 scale-95"
  -->
  <div id="menu" class="absolute top-0 inset-x-0 p-2 transition transform origin-top hidden">
    <div class="rounded-lg shadow-md bg-white ring-1 ring-black ring-opacity-5 overflow-hidden">
      <div class="px-5 pt-4 flex items-center justify-between">
        <div>
          <svg class="h-8 w-8 text-black" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253" />
          </svg>
        </div>
        <div class="-mr-2">
          <button id="close-menu" type="button" class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-cyan-600">
            <span class="sr-only">Close menu</span>
            <!-- Heroicon name: outline/x -->
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
      </div>
      <div class="pt-5 pb-6" role="menu" aria-orientation="vertical" aria-labelledby="main-menu">
        <div class="px-2 space-y-1" role="none">

          <a href="/features" data-turbolinks="false" class="block px-3 py-2 rounded-md text-base font-medium text-gray-900 hover:bg-gray-50" role="menuitem">Features</a>

          <a href="/pricing" data-turbolinks="false" class="block px-3 py-2 rounded-md text-base font-medium text-gray-900 hover:bg-gray-50" role="menuitem">Pricing</a>

          <a href="/company" data-turbolinks="false" class="block px-3 py-2 rounded-md text-base font-medium text-gray-900 hover:bg-gray-50" role="menuitem">Company</a>
        </div>
        <div role="none" class="mt-6 px-5">
          <a href="/users/sign_up" data-turbolinks="false" class="block text-center w-full py-3 px-4 rounded-md shadow bg-gradient-to-r from-teal-500 to-cyan-600 text-white font-medium hover:from-teal-600 hover:to-cyan-700">Get started</a>
        </div>
        <div role="none" class="mt-6 px-5">
          <p class="text-center text-base font-medium text-gray-500">Existing customer? <a href="/users/sign_in" data-turbolinks="false" class="text-gray-900 hover:underline">Login</a></p>
        </div>
      </div>
    </div>
  </div>

</header>
