<!DOCTYPE html>
<html class="h-full">
  <head>
    <title>Schemabook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="app" class="h-full">
    <!-- Background color split screen for large screens -->
    <div class="relative min-h-screen flex flex-col">
      <%= render 'layouts/application_header' %>

      <!-- 3 column wrapper -->
      <div class="flex-grow w-full h-max lg:flex">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
