<!DOCTYPE html>
<html>
  <head>
    <title>Schemabook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="app">
    <!-- Background color split screen for large screens -->
    <div class="relative min-h-screen flex flex-col">
      <%= render 'layouts/application_header' %>

      <!-- 3 column wrapper -->
      <div class="flex-grow w-full h-max lg:flex">
        <%= yield %> 
      </div>
      
    </div>
  </body>
</html>
