<!DOCTYPE html>
<html>
  <head>
    <title>Schemabook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="app">
    <div class="<%= homepage? ? 'bg-white' : 'bg-gray-50' %>">
      <div class="relative overflow-hidden">
        <%= render_header %>
        <%= yield %> 
        <%= render_footer %>
      </div>
    </div>
  </body>
</html>
