<%= form_with(model: @schema) do |form| %>
  <% if @schema.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@schema.errors.count, "error") %> prohibited this schema from being saved:</h2>

      <ul>
        <% @schema.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="space-y-8 divide-y divide-gray-200">
    <div class="pt-0">
      <div>
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          Schema Information
        </h3>
        <p class="mt-1 text-sm text-gray-500">
          We'll give this schema a unique identifier.
        </p>
      </div>
      <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
        <div class="sm:col-span-3">
          <label for="first_name" class="block text-sm font-medium text-gray-700">
            Name*
          </label>
          <div class="mt-1">
            <%= form.text_field :name, class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" %>
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="format" class="block text-sm font-medium text-gray-700">
            Schema Format*
          </label>
          <div class="mt-1">
            <%= form.select :file_type, Format.file_types.keys, {}, { class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" } %>
          </div>
        </div>
      </div>

      <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
        <div class="sm:col-span-3">
          <label for="service" class="block text-sm font-medium text-gray-700">
            Service (optional)
          </label>
          <div class="mt-1">
            <%= form.select :service_id, current_user.team.services.map { |service| [service.name, service.id] }, {}, { class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" } %>
          </div>
        </div>
      </div>

      <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
        <div class="sm:col-span-3">
          <label for="service" class="block text-sm font-medium text-gray-700">
            Body*
          </label>
          <div class="mt-1">
            <%= form.text_area :body, cols: 20, rows: 40, value: "", class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" %>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="pt-5">
    <div class="flex justify-end">
      <a href="<%= schemas_path %>" class="button bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        Cancel
      </a>
      <button type="submit" class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-teal-600 hover:bg-cyan-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cyan-500">
        Save
      </button>
    </div>
  </div>
<% end %>
