<!-- Left sidebar & main wrapper -->
<div class="flex-1 min-w-0 bg-white xl:flex xl:px-8">
  <div class="border-b border-gray-200 xl:border-b-0 xl:flex-shrink-0 xl:w-64 xl:border-r xl:border-gray-200 bg-white">
    <div class="h-full pl-4 pr-6 py-6 sm:pl-6 lg:pl-8 xl:pl-0">
      <!-- Start left column area -->
      <div class="h-full relative" style="min-height: 12rem;">
        <div class="absolute inset-0 text-gray-700">
          <h4 class="text-lg leading-6 font-medium text-gray-600">
            Details
          </h4>

          <div>
            <ul class="divide-y divide-gray-200">
              <li class="py-4">
                <span class="text-gray-400">Team:</span> <%= link_to @schema.team.name, team_path(@schema.team) %>
              </li>
              <li class="py-4">
                <span class="text-gray-400">Created On:</span> <%= l @schema.created_at, format: :sample %>
              </li>
              <li class="py-4">

                <% if @stakeholder.persisted? %>
                  <div class="w-full grid grid-rows-2 grid-flow-col">
                    <div class="py-2">
                      <span class="text-gray-400">Stakeholders:</span> <span class="stakeholder-count"><%= @stakeholders.size %></span>
                    </div>
                    <span class"text-teal-400">You are a <%= link_to "stakeholder", user_profile_path(current_user), { class: "underline" } %></span>
                  </div>
                <% else %>
                  <div id="add-stakeholder" class="w-full grid">
                    <div class="py-2">
                      <span class="text-gray-400">Stakeholders:</span> <span class="stakeholder-count"><%= @stakeholders.size %></span>
                    </div>
                    <div class="absolute right-0">
                      <%= form_for @stakeholder, url: stakeholders_path(@stakeholder), html: { method: :post }, remote: true do |f| %>
                        <%= f.hidden_field :user_id, value: current_user.id %>
                        <%= f.hidden_field :schema_id, value: @schema.id %>

                        <button id="new-stakeholder" type="submit" class="-ml-px relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 hover:bg-gray-100 focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500">
                          <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="none" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 9v3m0 0v3m0-3h3m-3 0h-3m-2-5a4 4 0 11-8 0 4 4 0 018 0zM3 20a6 6 0 0112 0v1H3v-1z" />
                          </svg>
                        </button>
                      <% end %>
                    </div>
                  </div>
                <% end %>

              </li>
              <li class="py-4">
                <span class="text-gray-400">Version:</span> 3
              </li>
            </ul>
          </div>

        </div>
      </div>
      <!-- End left column area -->
    </div>
  </div>

  <div class="bg-white lg:min-w-0 lg:flex-1">
    <div class="h-full py-6 px-4 sm:px-6 lg:px-8">

      <%= render 'shared/flashes' %>

      <!-- Start main area-->
      <div class="relative h-full" style="min-height: 36rem;">

        <!-- header -->
        <div class="pb-5 px-2 sm:flex sm:items-center sm:justify-between">
          <h3 class="text-lg leading-6 font-medium text-gray-600">
            Schema: <%= @schema.name %> in <a href="<%= service_path(@schema.service) %>" class="text-teal-500"><%= @schema.service.name %></a>
          </h3>
          <div class="text-md text-gray-400 mt-3 sm:mt-0 sm:ml-4">
            <span class="text-gray-400">Last Updated:</span> <%= l @schema.updated_at, format: :sample %>
          </div>
        </div>

        <div class="mb-8 relative inset-0 border-2 border-gray-200 border-solid rounded-lg">
          <div>
            <div class="hidden sm:block">
              <div class="px-4 border-b border-gray-200">
                <nav class="-mb-px flex space-x-8" aria-label="Tabs">
                  <% highlight = 'border-teal-500' %>
                  <a href="/schemas/<%= @schema.id %>?tab=json" class="<%= @tab == 'json' ? highlight : 'border-transparent' %> text-teal-600 whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm">
                    JSON
                  </a>
                  <a href="/schemas/<%= @schema.id %>?tab=avro" class="<%= @tab == 'avro' ? highlight : 'border-transparent' %> text-gray-500 hover:text-gray-700 hover:border-gray-300 whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm">
                    Avro
                  </a>
                  <a href="/schemas/<%= @schema.id %>?tab=csv" class="<%= @tab == 'csv' ? highlight : 'border-transparent' %> text-gray-500 hover:text-gray-700 hover:border-gray-300 whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm">
                    CSV
                  </a>

                  <a href="/schemas/<%= @schema.id %>?tab=info" class="<%= @tab == 'info' ? highlight : 'border-transparent' %> md:absolute md:right-8 border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm">
                    General Information
                  </a>
                </nav>
              </div>
            </div>
          </div>

          <!-- main area list -->
          <div id="tab-content" class="tabcontent bg-gray-100 inset-0 p-6 shadow sm:rounded-md">
            <pre class="font-mono">
<%= @schema.body %>
            </pre>

            <% if @tab == 'info' %>
            <p class="py-2">
              <%= @schema.description %>
            </p>
            <div class="pb-5 border-b border-gray-200">
              <h3 class="text-lg leading-6 font-medium text-gray-900">
                Endpoints
              </h3>
            </div>

            <div class="p-4">
              <div class="flex text-sm font-medium text-cyan-600 truncate">
                <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4M7.835 4.697a3.42 3.42 0 001.946-.806 3.42 3.42 0 014.438 0 3.42 3.42 0 001.946.806 3.42 3.42 0 013.138 3.138 3.42 3.42 0 00.806 1.946 3.42 3.42 0 010 4.438 3.42 3.42 0 00-.806 1.946 3.42 3.42 0 01-3.138 3.138 3.42 3.42 0 00-1.946.806 3.42 3.42 0 01-4.438 0 3.42 3.42 0 00-1.946-.806 3.42 3.42 0 01-3.138-3.138 3.42 3.42 0 00-.806-1.946 3.42 3.42 0 010-4.438 3.42 3.42 0 00.806-1.946 3.42 3.42 0 013.138-3.138z" />
                </svg>

                <p class="text-gray-500">
                  <span class="text-black">Validation endpoint:</span> POST https://schemabook.com/schemas/:uuid/validate
                </p>
              </div>

              <div class="flex text-sm font-medium text-cyan-600 truncate">
                <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3.055 11H5a2 2 0 012 2v1a2 2 0 002 2 2 2 0 012 2v2.945M8 3.935V5.5A2.5 2.5 0 0010.5 8h.5a2 2 0 012 2 2 2 0 104 0 2 2 0 012-2h1.064M15 20.488V18a2 2 0 012-2h3.064M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>

                <p class="text-gray-500">
                  <span class="text-black">CDN URI:</span> GET https://schemabook.cloudflare.com/schemas/:uuid
                </p>
              </div>
            </div>

            <% end %>
          </div>
          <!-- end main area list -->
        </div>

        <!-- main area event schema endpoints section -->
        <div class="mb-8 relative inset-0 bg-white">
        </div>

        <!-- main area metrics section -->
        <div class="mb-8 relative inset-0 bg-white">
          <div class="pb-5 border-b border-gray-200">
            <h3 class="text-lg leading-6 font-medium text-gray-900">
              Comments
            </h3>
          </div>


          <div class="p-4">
            <ul>
              <li>Why do the dimensions not include height?</li>
            </ul>
          </div>
        </div>

      </div>
      <!-- End main area -->
    </div>
  </div>
</div>

<div class="bg-gray-50 pr-4 sm:pr-6 lg:pr-8 lg:flex-shrink-0 lg:border-l lg:border-gray-200 xl:pr-8">
  <div class="pl-6 py-6 lg:w-80">
    <%= render partial: 'shared/activity_feed' %>
  </div>
</div>
