<!-- Left sidebar & main wrapper -->
<div class="flex-1 min-w-0 bg-white xl:flex xl:px-8">
  <%= render partial: 'sidebar' %>

  <div class="bg-white lg:min-w-0 lg:flex-1">
    <div class="h-full py-6 px-4 sm:px-6 lg:px-8">

      <!-- Start main area-->
      <div class="relative h-full" style="min-height: 36rem;">

        <div class="mt-4">
          <%= render 'shared/flashes' %>
        </div>

        <!-- header -->
        <div class="pb-5 px-2 sm:flex sm:items-center sm:justify-between">
          <h3 class="text-lg leading-6 font-medium text-gray-600">
            Name: <%= @schema.name %>
          </h3>
          <div class="text-md text-gray-400 mt-3 sm:mt-0 sm:ml-4">
            <span class="text-gray-400">Version:</span> <%= @version.index %>
          </div>
        </div>

        <div class="mb-8 relative inset-0 border-2 border-gray-200 border-solid rounded-lg">
          <div>
            <div class="hidden sm:block">
              <div class="px-4 border-b border-gray-200">
                <%= render partial: 'tabs' %>
              </div>
            </div>
          </div>

          <%= render partial: 'tab_content' %>
        </div>

        <%= render partial: 'comments' %>

      </div>
      <!-- End main area -->

    </div>
  </div>
</div>

<div class="bg-gray-50 pr-4 sm:pr-6 lg:pr-8 lg:flex-shrink-0 lg:border-l lg:border-gray-200 xl:pr-8">
  <div class="pl-6 py-6 lg:w-80">
    <%= render partial: 'shared/activity_feed' %>
  </div>
</div>
